@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}  

* {
    color: #064420;
    font-family: 'SourceSansPro';
    background: #FDFAF6;
}

html, body, #content {

    height: 100%;
}

textarea {
    height: 20vh;
    width: 30vh;
    border: none;
    border-radius: 10px;
    border: 3px solid #09652f;
    padding: 5%;
    transition-duration: 0.5s;
}

textarea:focus {
    border-radius: 0;
    outline: none;
}


.sidepanel {
    width: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    bottom: 50%;
    left: 1%;
    top: 20%;
    background: rgba(0, 0, 0, 0);
}

.sidepanel__text {
    transform: rotate(-90deg);
}

.social-icon {
    width: 100%;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainform {
    width: 100%;
}

.panel_wrapper {
    display: flex;
    justify-content: space-around;
}
.panel {
    width: 40%;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0 0 40px 10px #FAF1E6;
    transition-duration: 0.5s;
}

.panel:hover {
    box-shadow: 0 0 50px 20px #E4EFE7;
}

h1.title {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

@media (max-width: 610px) {
    
    .panel_wrapper {
        flex-direction: column;
    }

    .panel {
        width: 90%;
    }
    .sidepanel {
        display: none;
    }
    h1.title {
        font-size: 15px;
    }
}